name: Build Windows EXE

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build EXE
        run: |
          pyinstaller --noconfirm --onefile --windowed app.py --name StundenApp --icon "%CD%\app.ico"



      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: StundenApp-Windows
          path: dist/StundenApp.exe
